Options +MultiViews



RewriteEngine on


RewriteRule ^Espace.html  acceuil.php

RewriteRule ^Administration.html  admin.php
RewriteRule ^Direction.html  direction.php
RewriteRule ^Superviseur.html  superviseur.php
RewriteRule ^mapfre.html  mapfre.php
RewriteRule ^index.html  index.php

